name: DockerHub CD

on:
  workflow_run:
    workflows:
      - "Front Angular CI"
      - "Back Spring Boot CI"
    types:
      - completed

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push Front
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:front"
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/bobapp-front:latest
      -
        name: Build and push Back
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:back"
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/bobapp-back:latest